<!-- Footer -->
<footer class="page-footer font-small bg-secondary pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

            <ul class="social-network">
             <li><a href="https://www.instagram.com/juliasobraal/" target="_blank" class="icoInstagram" title="Instagram">
               <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
              </a></li>
             <li><a href="https://www.linkedin.com/in/j%C3%BAlia-sobral-369137215/" target="_blank" class="icoLinkedin" title="Linkedin">
               <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
              </a></li>
            </ul>
    </div>
    </div>

    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

<!-- Copyright -->
<div class="footer-copyright bg-orange text-center py-3 ">
  <span class="text-light"> © 2023 Desenvolvido by: </span>
  <a class="text-light" target="_blank">Júlia Sobral</a>
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->

