@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Oxygen:wght@700&family=Rubik&family=Sen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Oxygen:wght@700&family=Rubik&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Rubik&display=swap);

.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 150px;
}

.images {
  display: flex;
  position: relative;
  margin: 100px;
}

.im{
    margin-left: 20%;
    margin-top: -9%;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 95px;
}

.images img:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.text a {
  font-size: 42px;
  margin: 50px 0;
  font-family: 'Julius Sans One', sans-serif;
  font-weight:bold;
  color: #ff7300;
}

.text h2 {
  display: flex;
  margin-top: 5px;
  font-size: 16px;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace, sans-serif;
  color: rgb(100, 98, 98);
}

.text p {
  font-size: 14px;
  text-align: justify;
  color: #ff7300;
  font-family: verdana, sans-serif;
}

