
  <div class="aboutme">
    <div class=" text">
        <h1>Olá, eu me chamo Júlia Sobral</h1>
        
        <h2> SOU DESENVOLVEDORA FULLSTACK JÚNIOR</h2>
        <p>Pernambucana, 22 anos e apaixonada por tecnologia. No ínicio do ano de 2021, decidi iniciar a transição de carreira da área de Direito para me dedicar a área de Programação, quando iniciei o curso técnico de Desenvolvimento Web Full Stack, atráves do Senac.
          Ao finalizar o curso técnico continuei buscando novos conhecimentos na área, e tive a oportunidade de participar do Bootcamp da Generation Brasil, onde tive 12 semanas de treinamento intensivo, 
          A oportunidade de desenvolver diversos projetos, lidando com problemas reais do mercado e adquirindo habilidades técnica e comportamentais de trabalho em equipe, persistência e comunicação, que foram de extrema importância 
          para me tornar a profissional que sou hoje. 
        </p>
    </div>
<body>
    <div class="images">               
        <img src="assets/img/1.JPG" alt="Foto de perfil">
    </div>
</body>
  <div class="parallax"></div>

 


